{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}

{% block content %}

    <!-- Slogan Section -->
    <div class="slogan">
        <p>I am the BOSS!</p>
      </div>

    <div class="card-container">
        
        <a href="/admin/update_trainer_salaries" class="card">
            <div>
                <h3>Update Trainers' Salaries</h3>
                <p>Meet our certified trainers and get personalized workout plans.</p>
            </div>
        </a>
        <a href="/admin/BuyingActions" class="card">
            <div>
                <h3>Buying Actions</h3>
                <p>Manage gym purchasing services.</p>
            </div>
        </a>

        <a href="/admin/complex" class="card">
            <div>
                <h3>Key Insights Overview</h3>
                <p>Manage gym operations and member services efficiently.</p>
            </div>
        </a>

        <a href="/admin/PageAll" class="card">
            <div>
                <h3>Display all Tables</h3>
                <p>Join our community and view all your information.</p>
            </div>
        </a>

    </div>

{% endblock %}
