{% extends "base.html" %}
{% block title %}Amount Spent{% endblock %}

{% block content %}
    <br>
    <h1>Get the total amount spent</h1>
    <td>	 
        <form action="" method="POST">
            <br>  Enter a Member ID: <br>
            <br><input type="number" name="mid" min="1" required><br>
            <br><input class="custom-button" type="submit" value="Submit ID"><br>
        </form> 
    </td>

    {% if total_amount is not none %}
        <ul>
            <br>
            <li> Total Purchase Amount: <span style="color: #2980b9;">{{ total_amount }}</span></li><br>
        </ul>
    {% endif %}

    <button class="custom-button" onclick="location.href='/admin/BuyingActions'">Back</button>

{% endblock %}
