{% extends "base.html" %}
{% block title %}Assigned Members{% endblock %}


{% block content %}

        <td>	 
            <form action="" method="POST">
                <br>  Enter a Trainer ID: <br>
                <br><input type="number" name="pid" min="1" required><br>
                <br><input class="custom-button" type="submit" value="Submit ID"><br>
            </form> 
        </td>
        <br>
        <h3>Members Assigned to the chosen Trainer</h3>

        <ul>
            {% for member_name in members_list %}
                <li>{{ member_name }}</li>
            {% endfor %}
        </ul>

        <button class="custom-button" onclick="location.href='/trainer'">Back</button>
    
{% endblock %}