{% extends "base.html" %}
{% block title %}Buying Actions Page{% endblock %}

{% block content %}
    
<div class="card-container">

    <button class="btn btn-secondary" onclick="location.href='/admin/BuyingActions/AddPurchase'">Add Purchase</button>

    <button class="btn btn-secondary" onclick="location.href='/admin/BuyingActions/AmountSpent'">Amount Spent by a Member</button>

    <button class="btn btn-secondary" onclick="location.href='/admin/BuyingActions/update_product_quantity'">Update Product Quantity</button>
</div>

    <div class="card-container">
    <button class="custom-button" onclick="location.href='/admin'">Back</button>
    </div>

{% endblock %}
