{% extends "base.html" %}
{% block title %}Buying Actions Page{% endblock %}

{% block content %}
    
<div class="card-container">
    <a href='/admin/BuyingActions/AddPurchase' class="card">
        <div>
            <h3>Add Purchase</h3>
            <!-- <p>Check the classes that are given by your favorite trainer</p> -->
        </div>
    </a>
    <a href="/admin/BuyingActions/AmountSpent" class="card">
        <div>
            <h3>Amount Spent by a Member</h3>
            <!-- <p>Check the classes that are given by your favorite trainer</p> -->
        </div>
    </a>
    <a href="/admin/BuyingActions/update_product_quantity" class="card">
        <div>
            <h3>Update Product Quantity</h3>
            <!-- <p>Check the classes that are given by your favorite trainer</p> -->
        </div>
    </a>

</div>

    <div class="card-container">
    <button class="custom-button" onclick="location.href='/admin'">Back</button>
    </div>

{% endblock %}
