{% extends "base.html" %}
{% block title %}Classes Given{% endblock %}


{% block content %}
<br>
    <h1>Check the classes that are given by your favorite trainer</h1>

    <td>	 
        <form action="" method="POST">
            <h2>Enter a Trainer ID: </h2>
            <br><input type="number" name="pid" min="1" required><br>
            <br><input class="custom-button" type="submit" value="Submit ID"><br>
        </form> 
    </td>
    <br>

    <div class="main">
        <h2>Classes Given by the Chosen Trainer</h2>

        <div class="custom-table">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Class Name</th>
                        <th>Class Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-container">
    <button class="custom-button" onclick="location.href='/trainer'">Back</button>
    </div>
   
{% endblock %}
