{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}

{% block content %}

<div class="card-container">

    <a href="/admin/complex/cq1" class="card">
        <div>
            <h3>CQ1</h3>
            <p>Find Members Enrolled in Classes Given by a Specific Trainer</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq2" class="card">
        <div>
            <h3>CQ2</h3>
            <p>List classes names with their corresponding number of enrolled members</p>
        </div>
    </a>

    <a href="/admin/complex/cq3" class="card">
        <div>
            <h3>CQ3</h3>
            <p>List cleaning companies with their total cleaning expenses and average room capacity 
                cleaned, sorted by total cost</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq4" class="card">
        <div>
            <h3>CQ4</h3>
            <p>Replace this text with a description for CQ4</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq5" class="card">
        <div>
            <h3>CQ5</h3>
            <p>Replace this text with a description for CQ5</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq6" class="card">
        <div>
            <h3>CQ6</h3>
            <p>Replace this text with a description for CQ6</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq7" class="card">
        <div>
            <h3>CQ7</h3>
            <p>Replace this text with a description for CQ7</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq8" class="card">
        <div>
            <h3>CQ8</h3>
            <p>Replace this text with a description for CQ8</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq9" class="card">
        <div>
            <h3>CQ9</h3>
            <p>Replace this text with a description for CQ9</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq10" class="card">
        <div>
            <h3>CQ10</h3>
            <p>Replace this text with a description for CQ10</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq11" class="card">
        <div>
            <h3>CQ11</h3>
            <p>Replace this text with a description for CQ11</p>
        </div>
    </a>
    
    <a href="/admin/complex/cq12" class="card">
        <div>
            <h3>CQ12</h3>
            <p>Replace this text with a description for CQ12</p>
        </div>
    </a>
    
    <button class="custom-button" onclick="location.href='/admin'">Back</button>
</div>


{% endblock %}
