{% extends "base.html" %}
{% block title %}CQ2{% endblock %}


{% block content %}
    <br>
    <h1>List all members with their membership types who have given feedback, along with the 
        feedback text and resolution status.</h1>
    <br>
    
    <div class="main">
        <div class="table-responsive-custom">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        <th>Membership Type</th>
                        <th>Feedback Text</th>
                        <th>Resolution Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <button class="custom-button" onclick="location.href='/'">Home Page</button>
    
{% endblock %}