{% extends "base.html" %}
{% block title %}CQ2{% endblock %}


{% block content %}
    <br>
    <h1>Retrieve information about members: Number of the classes enrolled by each member, Total
        amount spent on products and feedback count if they submitted any</h1>
    <br>
    

    <div class="main">
        <div class="table-responsive-custom">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        <th>Total Classes Enrolled</th>
                        <th>Total Spent on Products</th>
                        <th>Feedback Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="card-container">
        <button class="custom-button" onclick="location.href='/admin/complex'">Back</button>
        </div>
    
{% endblock %}