{% extends "base.html" %}
{% block title %}CQ2{% endblock %}


{% block content %}
    <br>
    <h1> Retrieve members who have both enrolled in a class and bought a product, 
        excluding those assigned to a trainer</h1>
    <br>
    

    <div class="main">
        <div class="table-responsive-custom">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Member Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="card-container">
        <button class="custom-button" onclick="location.href='/admin/complex'">Back</button>
        </div>
    
{% endblock %}