<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/home.css') }}"
    />
    <title>Fit Fusion Gym</title>
  </head>
  <body>
    <!-- Header Section -->
    <header class="header">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.jpg') }}"
          alt="Fit Fusion Logo"
        />
      </div>
      <nav>
        <ul class="navigation">
          <li><a href="about">About Us</a></li>
          <li><a href="member-registration">Member Registration</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main Content Section -->
    <div class="main-content">
      <!-- Banner Section -->
      <div class="banner"></div>

      <!-- Slogan Section -->
      <div class="slogan">
        <p>Your Fitness Journey Starts Here!</p>
      </div>

      
      <div class="card-container">
        <a href="member-page" class="card">
            <div>
                <h3>Member</h3>
                <p>Join our community and view all your information.</p>
            </div>
        </a>
        <a href="trainer" class="card">
            <div>
                <h3>Trainer</h3>
                <p>Meet our certified trainers and get personalized workout plans.</p>
            </div>
        </a>
        <a href="admin" class="card">
            <div>
                <h3>Admin</h3>
                <p>Manage gym operations and member services efficiently.</p>
            </div>
        </a>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Connect With Us</h3>
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/facebook-logo.png') }}"
                  alt="Facebook"
              /></a>
            </li>

            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/instagram-logo.png') }}"
                  alt="Instagram"
              /></a>
            </li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Contact Information</h3>
          <div class="contact-info">
            <p>Email: info@fitfusion.com</p>
            <p>Phone: 123-456-7890</p>
          </div>
        </div>
        <div class="footer-section google-map">
          <h3>Find Us</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.617433633093!2d35.47981297424533!3d33.89950532578244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f17ba8ada0c2d%3A0x4de124146ca8879!2sAUB%20Main%20Gate!5e0!3m2!1sen!2slb!4v1683103233773!5m2!1sen!2slb"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          >
          </iframe>
        </div>
      </div>
    </footer>
  </body>
</html>
