{% extends "base.html" %}
{% block title %}Page A{% endblock %}

{% block h1 %}All Tables Page{% endblock %}

{% block content %}
   

<!-- Table 1: Assigned to Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Assigned to Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Trainer ID</th>
                   <th>Cost</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_assigned_to %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 2: Buys Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Buys Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Barcode</th>
                   <th>Quantity</th>
                   <th>Purchase Date</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_buys %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 3: Class Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Class Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Class ID</th>
                   <th>Trainer ID</th>
                   <th>Class Name</th>
                   <th>Class Date</th>
                   <th>Class Start Time</th>
                   <th>Class End Time</th>
                   <th>Start Date</th>
                   <th>End Date</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_class %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                       <td>{{ row[5] }}</td>
                       <td>{{ row[6] }}</td>
                       <td>{{ row[7] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 4: Cleaning Company Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Cleaning Company Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Cleaning Company ID</th>
                   <th>Phone Number</th>
                   <th>Company Name</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_cleaning_company %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>


<!-- Table 5: Cleans Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Cleans Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Cleaning Company ID</th>
                   <th>Room ID</th>
                   <th>Cleaning Cost</th>
                   <th>Cleaning Date</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_cleans %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 6: Defect Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Defect Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Equipment ID</th>
                   <th>Defect Number</th>
                   <th>Maintenance Company ID</th>
                   <th>Defect Description</th>
                   <th>Defect Date</th>
                   <th>Fixed Cost</th>
                   <th>Defect Status</th>
                   <th>Fixing Date</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_defect %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                       <td>{{ row[5] }}</td>
                       <td>{{ row[6] }}</td>
                       <td>{{ row[7] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 7: Enrolls Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Enrolls Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Class ID</th>
                   <th>Enrollment Cost</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_enrolls %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 8: Equipment Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Equipment Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Equipment ID</th>
                   <th>Equipment Name</th>
                   <th>Purchase Date</th>
                   <th>Company Phone Number</th>
                   <th>Company Name</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_equipment %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>


<!-- Table 9: Feedback Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Feedback Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Feedback ID</th>
                   <th>Member ID</th>
                   <th>Feedback Text</th>
                   <th>Feedback Date</th>
                   <th>Resolution Status</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_feedback %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>


<!-- Table 10: Guest Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Guest Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Guest Name</th>
                   <th>Guest Date of Birth</th>
                   <th>Guest Gender</th>
                   <th>Guest Relationship</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_guest %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>


<!-- Table 11: Maintenance Company Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Maintenance Company Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Maintenance Company ID</th>
                   <th>Phone Number</th>
                   <th>Company Name</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_maintenance_company %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 12: Member Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Member Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Phone Number</th>
                   <th>Email</th>
                   <th>Name</th>
                   <th>Gender</th>
                   <th>Locker Number</th>
                   <th>Date of Birth</th>
                   <th>State</th>
                   <th>City</th>
                   <th>Street</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_member %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                       <td>{{ row[5] }}</td>
                       <td>{{ row[6] }}</td>
                       <td>{{ row[7] }}</td>
                       <td>{{ row[8] }}</td>
                       <td>{{ row[9] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 13: Member Emergency Contact Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Member Emergency Contact Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Emergency Contact</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_emergency_contact %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 14: Membership Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Membership Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Membership Name</th>
                   <th>Membership Price</th>
                   <th>Membership Duration</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_membership %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>


<!-- Table 15: Product Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Product Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Barcode</th>
                   <th>Product Type</th>
                   <th>Product Name</th>
                   <th>Product Price</th>
                   <th>Product Quantity</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_product %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 16: Require Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Require Table/h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Class ID</th>
                   <th>Equipment ID</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_require %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 17: Room Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Room Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Room ID</th>
                   <th>Room Capacity</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_room %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 18: Subscribe to Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Subscribe to Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Member ID</th>
                   <th>Membership Name</th>
                   <th>Start Date</th>
                   <th>End Date</th>
                   <th>Payment Status</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_subscribe_to %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 19: Takes Place In Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Takes Place In Table</h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Class ID</th>
                   <th>Class Name</th>
                   <th>Date</th>
                   <th>Start Time</th>
                   <th>End Time</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_takes_place_in %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

<!-- Table 20: Trainer Table -->
<div class="main">
   <div class="table-responsive-custom">
      <h1>Trainer Table </h1>
       <table class="custom-table">
           <thead>
               <tr>
                   <th>Trainer ID</th>
                   <th>Trainer Name</th>
                   <th>Phone Number</th>
                   <th>Email</th>
                   <th>Date of Birth</th>
                   <th>Salary</th>
               </tr>
           </thead>
           <tbody>
               {% for row in rows_trainer %}
                   <tr>
                       <td>{{ row[0] }}</td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                       <td>{{ row[5] }}</td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>

{% endblock %}