{% extends "base.html" %}
{% block title %}Trainer Page{% endblock %}

{% block content %}

    <!-- Banner Section -->
    <div class="tbanner"></div>

    <!-- Slogan Section -->
    <div class="slogan">
        <p>Trust the Process and the Team!</p>
      </div>

    <div class="card-container">
        
    <a href="/trainer/trainer_info" class="card">
        <div>
            <h3>Trainers Information</h3>
            <p>Check more about each trainer in our team</p>
        </div>
    </a>
    <a href="/trainer/assigned_members" class="card">
        <div>
            <h3>Assigned Members</h3>
            <p>Check the Members Assigned to a chosen Trainer</p>
        </div>
    </a>
    <a href="/trainer/classes_given" class="card">
        <div>
            <h3>Classes Given by a Trainer</h3>
            <p>Check the classes that are given by your favorite trainer</p>
        </div>
    </a>

    </div>
    
{% endblock %}
