{% extends "base.html" %}
{% block title %}Update Trainer Salaries{% endblock %}

{% block content %}
    <br>
    <h1>Update Trainer Salaries</h1>
    
    <form action="/admin/update_trainer_salaries" method="POST">
        <div style="margin-bottom: 20px;"> <!-- Adjust the margin-bottom value as needed -->
            <label for="percentage">Percentage:</label>
            <input type="number" name="percentage" id="percentage" min="0" required>
        </div>
        
        <div style="margin-bottom: 5px;"> <!-- Adjust the margin-bottom value as needed -->
            <label for="operation">Operation:</label>
            <select name="operation" id="operation" required>
                <option value="increase">Increase</option>
                <option value="decrease">Decrease</option>
            </select>
        </div>
        
        <br>
        <input class="custom-button" type="submit" value="Update Salaries">
    </form>

    {% if update_success %}
        <p style="color: green;">Salaries updated successfully!</p>
    {% endif %}

    <div style="margin-top: 20px;"> <!-- Adjust the margin-top value as needed -->
        <button class="custom-button" onclick="location.href='/admin'">Back</button>
    </div>
{% endblock %}
