{% extends "base.html" %}
{% block title %}Update Product Quantity{% endblock %}

{% block content %}
    <br>
    <h1>Update Product Quantity</h1>
    <form action="/admin/BuyingActions/update_product_quantity" method="POST">
        <label for="barcode">Barcode:</label>
        <input type="text" name="barcode" required><br>

        <label for="new_quantity">New Quantity:</label>
        <input type="number" name="new_quantity" required><br>

        <input class="custom-button" type="submit" value="Update Quantity">
    </form>

    {% if success is not none %}
        {% if success %}
            <p style="color: green;">Product quantity updated successfully!</p>
        {% else %}
            <p style="color: red;">An error occurred: {{ error_message }}</p>
        {% endif %}
    {% endif %}

    <div class="card-container">
    <button class="custom-button" onclick="location.href='/admin/BuyingActions'">Back</button>
    </div>
    
{% endblock %}
